name: ML Pipeline CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Build Docker Image
      run: docker build -t iris-app .
      
    - name: Run Docker Container
      run: docker run iris-app
